.full-body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 93px;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(200, 100.00%, 21.67%, 1.00);
}

.logo {
  width: 150px;
  height: 150px;
  margin-left: 5px;
}

.links-wrap {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.link {
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: ease;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-weight: 700;
  text-decoration: none;
}

.link:hover {
  color: hsla(212, 100.00%, 75.89%, 1.00);
}

.spacer-div {
  width: 70px;
}

.member-popup {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0.00%, 0.00%, 0.50);
}

.member-popup.member-popup-hidden {
  display: none;
}

.member-1-popup-inside {
  display: flex;
  width: 700px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);

}

.member-popup.member-popup-hidden {
  display: none;
}

.member-1-popup-inside {
  display: flex;
  width: 700px;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);

}

.paragraph {
  width: 700px;
  font-size: 19px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
}

.welcome-section {
  width: 100%;
  padding-top: 160px;
}

.welcome {
  width: 1000px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 75px;
  margin-left: auto;
  font-family: 'Genos';
  color: hsla(48, 100%, 59%, 1.00);
  font-size: 97px;
  line-height: 97px;
  font-weight: 700;
  text-align: center;
  
}


.members {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: hsla(206, 0.00%, 0.00%, 1.00);
}

.h2-text {
  margin-top: 145px;
  margin-bottom: 29px;
  font-family: Oswald;
  color: hsla(199.99999999999997, 0.00%, 100.00%, 1.00);
  font-size: 40px;
}

.team {
  display: flex;
  width: 1000px;
  margin-top: 22px;
  margin-bottom: 125px;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 200px;
  padding: 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  cursor: pointer;
  font-family: 'Space Mono', monospace;
}


.member-photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 200px;
  height: 220px;
}

.name {
  margin-top: 14px;
  color: hsla(0, 0.00%, 0.00%, 1.00);
  font-size: 19px;
  text-align: center;
  font-weight: 700;
}

.position {
  margin-top: 2px;
  margin-bottom: 11px;
  color: #004a6f;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}

.social-link {
  color: hsla(0, 0.00%, 72.67%, 1.00);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
}

.social-link:hover {
  text-decoration: underline;
}

.website {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.h2-text-black {
  margin-top: 118px;
  font-family: Oswald;
  color: black;
  font-size: 40px;
}

.website-box {
  display: flex;
  width: 700px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}

.project-links {
  display: inline;
  width: 200px;
  margin-top: 22px;
  margin-bottom: 115px;
  justify-content: space-between;
}

.badge1 {
    position: absolute;
     left: 20%;
     width: 100px;
     height: 100px;
   
}
.badge2 {
    position: absolute;
     left: 35%;
     width: 100px;
     height: 100px;
}
.badge3 {
    position: absolute;
     right: 35%;
     width: 100px;
     height: 100px;
}
.badge4 {
    position: absolute;
     right: 20%;
     width: 100px;
     height: 100px;
}

.project-link {
  color: #004a6f;
  text-decoration: none;
  font-weight: 600;
  
}
#link1 {
    position: absolute;
     right: 18%;
     top: 215%;
     width: 100px;
     height: 100px;
  
}
#link2 {
    position: absolute;
     right: 33%;
     top: 215%;
     width: 100px;
     height: 100px;
}
#link3 {
    position: absolute;
     right: 57%;
     top: 215%;
     width: 100px;
     height: 100px;
}
#link4 {
    position: absolute;
     right: 72%;
     top: 215%;
     width: 100px;
     height: 100px;
}

.project-link:hover {
  text-decoration: underline;
}

.hour-of-code {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.paragraph {
  width: 700px;
  font-family: Arial;
  font-size: 19px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
  color: #9f9f9f;
}

.paragraph.hour-of-code-p {
  margin-bottom: 27px;
  margin-top: -15px;
}


.hour-of-code-link {
  margin-bottom: 120px;
  color: hsla(228, 72.66%, 78.05%, 1.00);
  text-decoration: none;
  font-weight: 700;
}

.hour-of-code-link:hover {
  text-decoration: underline;
  
}

.easter-egg {
  display: none;
}

html {
  scroll-behavior: smooth;
}
